* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: "fzhjt";
	src: url(../font/FZLTHJW.TTF);
}

@font-face {
	font-family: "fzzh";
	src: url(../font/方正兰亭中黑_GBK.TTF);
}

html {
	font-size: 625%;
}

a,
img,
p,
h1,
h2,
h3,
h4,
h5,
span,
li,
div {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "fzhjt";
}

body {
	width: 100%;
	font-size: 16px;
	font-family: sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.head_stance {
	width: 100%;
	height: 63px;
}

.spell_img {
	width: 100%;
	position: relative;
}

.spell_img img {
	width: 100%;
}

.wid {
	width: 100%;
}

.wid_small {
	width: 89.66666%;
	margin: 0 auto;
}

.partition {
	border-bottom: 1px solid #e5e5e5;
}

.banner {
	height: 7px;
	width: 100%;
	background: #f8f8f8;
}
.line{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	
}

/*通用部分结束*/
.content a{
display: block;
}
.content{
	margin-top: 0.22rem;
	padding-bottom: 0.18rem;
}
.content .left{
	float: left;
   width: 33.3333%;
   margin-right: 0.15rem;
}
.content .left img{
	width: 100%;
}
.content .right{
	position: relative;
	
	float: left;
	width: 61%;
}
.content .right a{
	color: #000;
	font-size: 18px;
	font-weight: 500;
	font-family: "fzzh";
	margin-bottom: 0.15rem;
}
.content .right p{

	color: #595757;
	font-size: 14px;
	font-family: "fahjt";
}
.content .price{
	position: absolute;
	bottom:0.03rem;
}
.content .price p:nth-child(1){
	float: left;
	color: #595757;
	font-family: "fahjt";
}
.content .price p:nth-child(2){
	float:right;
	color: #595757;
	font-family: "fahjt";
	
}
.red_packet {
	padding-top: 0.23rem;
	padding-bottom: 0.23rem;
	
}
.red_packet a{
	display: block;
}
.red_packet p{
	width: 0.2rem;
	height: 0.2rem;
	border:1px solid #707070;
	border-radius: 100%;
	margin-right: 13px;
	float: left;
}
.red_packet input{
display: none;
}
.red_packet label{
	font-size: 17px;
	color: #000;
	display: block;
	float: left;
	font-family: "fahjt";
}
.red_packet img{
	width: 0.08rem;
	float: right;
	margin-top:0.03rem
}
.user_message{
	margin-top:0.11rem;
	/*padding-bottom: 0.11rem;*/
	color:#000;
	font-family: "fahjt";
}
.user_message textarea{
    outline:none;
	resize:none;
	font-size: 16px;
	margin-top: 0.1rem;
	border:none;
	color: #595757;
}
.payment h5{
	font-size:18px ;
   color: #000;
   padding: 0.19rem 0;
	border-bottom: 1px solid #e5e5e5;
   
}

.payment ul li {
	padding: 0.19rem 0; 
	border-bottom: 1px solid #e5e5e5;
	
}
.payment ul li .payment_left{
	float: left;

}
.payment_left p:nth-child(1){
	font-size: 16px;
	color: #000;
	font-family: "fahjt";
}
.payment_left p:nth-child(2){
	font-size: 14px;
	color: #595757;
	margin-top: 0.15rem;
	
	font-family: "fahjt";
}
.payment ul li .selected{
	width: 0.2rem;
	float: right;
	height: 0.2rem;
	margin-right: 0.1rem;
	border:1px solid #707070;
	border-radius: 100%;
	margin-top: 0.15rem;
}
.payment ul li img{
	float: left;
	width: 0.28rem;
	margin-right: 0.16rem;
}
.payment ul li .fangshi{
	float: left;
	font-size: 16px;
	font-family: "fahjt";
	
	color: #000;
	line-height: 0.28rem;
}
.payment ul li .tuning{
	margin-top: 0.02rem;
}
.payment ul li:last-child{
	border:none;
}
.payment ul li:after{
	content: " ";
	display: block;
	clear:both;
}
.payment ul li input{
	display: none;
}
.total{
	padding: 0.18rem 0;
}
.total p{
	color: #595757;
	font-size: 16px;
	font-family: "fahjt";
	
}
.total p:nth-child(1){
	float: left;
}
.total p:nth-child(2){
	float:right;
	margin-right: 0.1rem;
}
.accounts{
	margin-top: 0.18rem;
}
.accounts button{
	width: 100%;
	height: 0.42rem;
	border:none;
	font-size: 18px;
	font-family: "fahjt";
	color: #fff;
	text-align: center;
	background: #000;
	line-height: 0.42rem;
}
.sel_btn{
	background: #707070;
}
