* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: "fzhjt";
	src: url(../font/FZLTHJW.TTF);
}

@font-face {
	font-family: "fzzh";
	src: url(../font/方正兰亭中黑_GBK.TTF);
}

html {
	font-size: 625%;
}

a,
img,
p,
h1,
h2,
h3,
h4,
h5,
span,
li,
div {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: "fzhjt";
}

body {
	width: 100%;
	font-size: 16px;
	font-family: sans-serif;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.head_stance {
	width: 100%;
	height: 0.63rem;
}

.spell_img {
	width: 100%;
	position: relative;
}

.spell_img img {
	width: 100%;
}

.wid {
	width: 100%;
}

.wid_small {
	width: 89.66666%;
	margin: 0 auto;
	margin-top: 0.2rem;
}

.name_share h5 {
	font-family: "fzzh";
	font-size: 18px;
	float: left;
	text-transform: Uppercase;
	​
}

.name_share .share {
	float: right;
}

.name_share .share a {
	display: block;
	float: left;
	width: 0.23rem;
	padding-right: 0.05rem;
}

.name_share .share a img {
	width: 100%;
}

.introduction {
	margin-top: 0.1rem;
}

.introduction p {
	font-size: 16px;
	color: #595757;
	font-family: "fzhjt";
}

.original_yipin {
	margin-top: 0.15rem;
}

.original_yipin .original {
	float: left;
	font-size: 16px;
	color: #595757;
	font-family: "fzhjt";
}

.original_yipin .bargain_original {
	float: left;
	font-size: 18px;
	margin-top: 0.08rem;
	color: #000;
	font-family: "fzhjt";
}
.original_yipin .entertainment_original{
	float: left;
	font-size: 18px;
	margin-top: 0.08rem;
	color: #ff0000;
	font-family: "fzhjt";
}
.original_yipin .entertainment_original span{
	position: relative;
	top:0.03rem;
	font-family: "fzhjt";
	font-size: 16px;
	padding-left: 0.1rem;
	text-decoration: line-through;
	color: #595757;
}
.original_yipin .original span {
	display: inline-block;
	padding-left: 0.05rem;
	color: #ff0000;
	font-size: 18px;
}

.original_yipin .yipin {
	float: right;
	margin-top: 0.03rem;
	font-size: 16px;
	color: #595757;
	font-family: "fzhjt";
}

.original_yipin .yipin img {
	width: 0.16rem;
	float: left;
	padding-right: 0.14rem;
}
.over_time{
	padding-top: 0.32rem;
}
.over_time img{
	display: block;
	float: left;
	width: 0.12rem;
	margin-top: 0.02rem;
	padding-right: 0.05rem;
}
.over_time p{
	float: left;
	font-size: 14px;
	color: #595757;
}
.over_time span{
	float: right;
	font-size: 14px;
	color: #595757;
}
.bargain_btn {
	text-align: center;
	background: #fff;
	line-height: 36px;
	height: 34px;
	float: right;
	font-size: 16px;
	color: #000;
	font-family: "fzhjt";
	width: 33.3333%;
	border: 1px solid #000;
	outline: none;
}

.original_price {
	float: left;
	margin-top: 0.1rem;
}

.original_price p {
	font-size: 16px;
	color: #ff0000;
	float: left;
}

.original_price span {
	display: block;
	font-size: 14px;
	color: #595757;
	float: left;
	text-decoration: line-through;
	margin-left: 0.08rem;
	color: #575757;
}

.original_price .bargain_mun {
	font-size: 16px;
	color: #595757;
	float: left;
	padding-right: 0.08rem;
}

.pin_mun {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 0.16rem 0 0.15rem 0;
}

.pin_mun p {
	width: 33.33333%;
	text-align: center;
	font-family: "fzhjt";
	float: left;
}

.pin_mun p:nth-child(1) {
	color: #000;
	font-size: 16px;
}

.pin_mun p:nth-child(2) {
	color: #ff0000;
	font-size: 16px;
}

.pin_mun a {
	border: 1px solid #000;
	width: 0.16rem;
	float: right;
	margin-right: 8%;
	display: block;
	border-radius: 0;
	background: #FFF;
	height: 0.16rem;
}

.partition {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 0.2rem;
}

.pillar {
	width: 100%;
	margin-top: 0.15rem;
	height: 7px;
	background: #f8f8f8;
}

.cli_select {
	padding-left: 0.1rem;
}

.cli_select a {
	display: block;
	font-size: 0.18rem;
	color: #000;
	font-family: "fzhjt";
	text-align: center;
	width: 1.07rem;
	padding: 0.08rem;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.cli_select a:first-child {
	float: left;
}

.cli_select a:first-child {
	float: right;
	margin-right: 0.1rem;
}

.regiment_list {
	float: left;
}

.regiment_list .regiment_name img {
	width: 0.3rem;
	display: block;
	float: left;
}

.regiment_list .regiment_name .name {
	float: left;
	font-size: 18px;
	padding-top: 0.03rem;
	padding-left: 0.1rem;
	color: #595757;
	font-family: "fzhjt";
}

.regiment_list .regiment_name .poor {
	float: left;
	font-size: 18px;
	padding-top: 0.03rem;
	padding-left: 0.1rem;
	color: #ff0000;
	font-family: "fzhjt";
}

.regiment_list .open_time {
	margin-left: 0.4rem;
}

.regiment_list .open_time p {
	font-size: 16px;
	color: #595757;
	font-family: "fzhjt";
}

.tuxedo {
	float: right;
	margin-top: 0.1rem;
	margin-right: 0.1rem;
}

.tuxedo a {
	display: block;
	font-size: 0.18rem;
	color: #000;
	font-family: "fzhjt";
	text-align: center;
	width: 0.74rem;
	padding: 0.07rem;
	box-sizing: border-box;
	border: 1px solid #000000;
}

.box {
	transition: all 0.8s ease 0s;
	animation: mymove 0.8s;
	-webkit-animation: mymove 0.8s;
}

@keyframes mymove {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	10% {
		transform: scale(0.1);
		opacity: 0.1;
	}
	20% {
		transform: scale(0.2);
		opacity: 0.2;
	}
	30% {
		transform: scale(0.3);
		opacity: 0.3;
	}
	40% {
		transform: scale(0.4);
		opacity: 0.4;
	}
	50% {
		transform: scale(0.5);
		opacity: 0.5;
	}
	60% {
		transform: scale(0.6);
		opacity: 0.6;
	}
	70% {
		transform: scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: scale(0.8);
		opacity: 0.8;
	}
	90% {
		transform: scale(0.9);
		opacity: 0.9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.introduce .introduce_title h5 {
	font-family: "fzzh";
	font-size: 16px;
	float: left;
}

.introduce .introduce_title a {
	color: #ff0000;
	font-size: 16px;
	font-family: "fzhjt";
	float: right;
}

.introduce .introduce_con {
	padding-top: 0.08rem;
}

.introduce .introduce_con ul li {
	font-size: 16px;
	padding-top: 0.12rem;
	color: #595757;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.introduce_txt {
	font-family: "fzhjt";
	font-size: 16px;
	padding-top: 0.2rem;
	color: #595757;
	line-height: 0.28rem;
	text-transform: Uppercase;
	padding-left: 0.15rem;
}

.introduce_con img {
	padding-top: 0.2rem;
	width: 100%;
}

.evaluate p {
	float: left;
	font-size: 17px;
	color: 595757;
}

.evaluate p img {
	float: left;
	width: 0.14rem;
	padding-right: 0.08rem;
}

.evaluate .star {
	float: right;
}

.evaluate .star li {
	float: right;
	background: url(../img/icon/two_stars.png) no-repeat 0 0;
	background-size: 200%;
	width: 0.14rem;
	height: 0.14rem;
}

.evaluate_day {
	font-size: 14px;
	color: #000;
	font-family: "fzzh";
	margin-bottom: 0.1rem;
}

.evaluate_txt p {
	float: left;
	font-size: 14px;
	color: 595757;
}

.evaluate_txt p img {
	float: left;
	width: 0.14rem;
	padding-right: 0.08rem;
}

.evaluate_txt .star_small {
	float: right;
}

.evaluate_txt .star_small li {
	float: right;
	background: url(../img/icon/two_stars.png) no-repeat 0 0;
	background-size: 200%;
	width: 0.12rem;
	height: 0.12rem;
}

.evaluate_img {
	margin-top: 0.12rem;
}

.evaluate_img img {
	width: 0.77rem;
	margin-right: 0.05rem;
}

.evaluate_more {
	text-align: center;
	color: #595757;
	font-size: 16px;
	margin-top: 0.2rem;
}

.evaluate_more img {
	width: 0.05rem;
	position: relative;
	top: -0.035rem;
	margin-left: 0.06rem;
}

.commodity_address {
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
}

.commodity_address .commodity_address_left {
	width: 79%;
	float: left;
	border-right: 1px solid #e5e5e5;
}

.commodity_address .commodity_address_left p:first-child {
	font-size:16px;
	color: #000;
	font-family: "fzhjt", courier;
}

.commodity_address .commodity_address_left p:last-child {
	font-size:16px;
	color: #595757;
	font-family: "fzhjt", courier;
	padding-top: 10px;
	width: 95%;
	line-height:0.25rem;
}

.commodity_address .commodity_address_right {
	float: left;
	padding-top: 27px;
	padding-left: 20px;
}

.commodity_address .commodity_address_right img {
	width: 20px;
}